# Dependency directories
node_modules/

# Environment variables
.env

# macOS files
.DS_Store

# Log files
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
