<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="navbar">
        <div>VolunteerHub</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/report">Report</a>
            <a href="/event-management">Events</a>
            <a href="/volunteer-matching">Volunteer Matching</a>
            <a href="/profile">Profile</a>
            <a href="/history">History</a>
            <a href="/notifications">Notifications</a>
            <a href="/login">Login</a>
        </div>
    </div>

    <div class="container">
        <main>
            <h1>Report Generator</h1>
            <button id = "pdf-download" class = "download-btn">Download PDF Report</button>
            <script>
                document.getElementById('pdf-download').addEventListener('click', function(){
                    window.location.href= '/report/download';
                });
            </script>
        </main>
    </div>
    <script src="/js/auth.js"></script>
</body>
</html>