main{
    text-align: center;
}
body{
    background-color:rgb(201, 230, 240);
    font-family:arial;
}
label{
    font-weight: bold;
    font-size: large;
}
.butt{
    width: 40%;
    padding: 12px;
    background-color:rgb(105, 191, 225);
    color: white;
    font-size: 18px;
    border-radius: 12px;
    border: 2px solid skyblue;
}
.butt:hover{
    background-color: rgb(51, 159, 202);
    transform:scale(1.02);
}
select{
    width: 50%;
    padding: 1%;
    border: 2px solid black;
}
input{
    background-color:skyblue;
    width: 6%;
    padding: 8px;
    border-radius: 10px;
}
.nameInput{
    width: 60%;
    background-color: white;
}
.submit:hover{
    background-color:rgb(66, 175, 217);
    transform:scale(1.06);
}
.form > h1{
    width: 100%;
    text-align: center;
}
.info{
    text-align: center;
}

.navbar {
    background-color: #0d47a1;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s;
  }

  .nav-links a:hover {
    color: #90caf9;
  }